#include "resource.h"
#include <windows.h>

IDD_CONTROLSDLG DIALOG 260, 200, 188, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "Net Price Calculation"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT           "Marked Price:", IDC_STATIC, 10, 11, 45, 8
EDITTEXT        IDC_MARKED_PRICE, 65, 9, 55, 12, ES_RIGHT | ES_AUTOHSCROLL
LTEXT           "Tax Rate:", IDC_STATIC, 10, 32, 32, 8
EDITTEXT        IDC_TAX_RATE, 65, 30, 45, 12, ES_RIGHT | ES_AUTOHSCROLL
LTEXT           "%", IDC_STATIC, 112, 32, 10, 8
PUSHBUTTON      "Calculate", IDC_CALCULATE_BTN, 130, 30, 50, 14
PUSHBUTTON      "Close", IDCANCEL, 130, 70, 50, 14
LTEXT           "Tax Amount:", IDC_STATIC, 10, 52, 41, 8
EDITTEXT        IDC_TAX_AMOUNT, 65, 50, 55, 12, ES_RIGHT | ES_AUTOHSCROLL
LTEXT           "Net Price:", IDC_STATIC, 10, 73, 32, 8
EDITTEXT        IDC_NET_PRICE, 65, 71, 55, 12, ES_RIGHT | ES_AUTOHSCROLL
END