#include "resource.h"
#include <windows.h>

IDD_CONTROLS_DLG DIALOG DISCARDABLE  0, 0, 407, 222
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Employee Payroll"
FONT 8, "MS Sans Serif"
BEGIN
PUSHBUTTON      "Close", IDCANCEL, 290, 185, 50, 14
GROUPBOX        "Employee Identification", IDC_STATIC, 10, 10, 385, 40
LTEXT           "Employee Name:", IDC_STATIC, 20, 27, 54, 8
EDITTEXT        IDC_EMPLOYEE_NAME, 85, 25, 115, 12, ES_AUTOHSCROLL
LTEXT           "Hourly Salary:", IDC_STATIC, 210, 27, 44, 8
EDITTEXT        IDC_HOURLY_SALARY, 260, 25, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
GROUPBOX        "Time Sheet", IDC_STATIC, 10, 55, 385, 75
LTEXT           "Monday", IDC_STATIC, 71, 71, 26, 8
LTEXT           "Tuesday", IDC_STATIC, 120, 70, 28, 8
LTEXT           "Wednesday", IDC_STATIC, 160, 70, 39, 8
LTEXT           "Thursday", IDC_STATIC, 210, 70, 30, 8
LTEXT           "Friday", IDC_STATIC, 260, 70, 20, 8
LTEXT           "Saturday", IDC_STATIC, 300, 70, 29, 8
LTEXT           "Sunday", IDC_STATIC, 345, 70, 25, 8
LTEXT           "First Week:", IDC_STATIC, 20, 86, 37, 8
EDITTEXT        IDC_MONDAY1, 70, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_TUESDAY1, 115, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_WEDNESDAY1, 160, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_THURSDAY1, 205, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_FRIDAY1, 250, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_SATURDAY1, 295, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_SUNDAY1, 340, 85, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
LTEXT           "Second Week:", IDC_STATIC, 20, 106, 49, 8
EDITTEXT        IDC_MONDAY2, 70, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_TUESDAY2, 115, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_WEDNESDAY2, 160, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_THURSDAY2, 205, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_FRIDAY2, 250, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_SATURDAY2, 295, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
EDITTEXT        IDC_SUNDAY2, 340, 105, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
GROUPBOX        "Payroll Processing", IDC_STATIC, 10, 135, 385, 75
PUSHBUTTON      "Process It", IDC_PROCESS_BTN, 25, 160, 50, 35
LTEXT           "Hours", IDC_STATIC, 140, 150, 20, 8
LTEXT           "Amount", IDC_STATIC, 185, 150, 25, 8
LTEXT           "Regular:", IDC_STATIC, 99, 166, 28, 8
EDITTEXT        IDC_REGULAR_HOURS, 135, 165, 40, 12, ES_RIGHT |
ES_AUTOHSCROLL
EDITTEXT        IDC_REGULAR_AMOUNT, 180, 165, 40, 12, ES_RIGHT |
ES_AUTOHSCROLL
LTEXT           "Overtime:", IDC_STATIC, 100, 182, 31, 8
EDITTEXT        IDC_OVERTIME_HOURS, 136, 180, 40, 12, ES_RIGHT |
ES_AUTOHSCROLL
EDITTEXT        IDC_OVERTIME_AMOUNT, 180, 180, 40, 12, ES_RIGHT |
ES_AUTOHSCROLL
LTEXT           "Net Pay:", IDC_STATIC, 255, 167, 28, 8
EDITTEXT        IDC_NET_PAY, 295, 165, 40, 12, ES_RIGHT | ES_AUTOHSCROLL
END