#include <afxres.h>
#include "resource.h"

IDD_CONTROLS_DLG DIALOG DISCARDABLE 200, 150, 235, 151
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Windows Controls"
FONT 8, "MS Sans Serif"
BEGIN
	PUSHBUTTON      "&Close", IDC_CLOSE_BTN, 178, 7, 50, 14
	SCROLLBAR		IDC_SCROLLER, 10, 10, 15, 130, SBS_VERT
	LTEXT           "000", IDC_LABEL, 40, 68, 13, 8
END