#include <afxres.h>
#include "Resource.h"

IDD_PRIMARYFAMILY_DLG DIALOG 260, 200, 110, 105
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Family Affairs"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON   "OK", IDOK, 48, 84, 50, 14
	LISTBOX         IDC_PRIMARYFAMILY_LB, 10, 10, 90, 80, LBS_NOTIFY
END