#include <afxres.h>
#include "Resource.h"

IDD_EXERCISE_DLG DIALOG 260, 200, 158, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Date Time Picker"
FONT 8, "MS Shell Dlg"
BEGIN
	DEFPUSHBUTTON   "OK", IDOK, 100, 120, 50, 14
	CONTROL         "", IDC_DATETIMEPICKER, "SysDateTimePick32",
	WS_CHILD | WS_TABSTOP, 10, 10, 140, 14
END